<html>
  <head>
  </head>
  <body>
  <h1>FINISH HIM!</h1>
  <h1><%= @@ganador %> Wins!</h1>
  <form method="get" action="/finish">
    <input type="submit" id="PAF" value="PAF"/>
  </form>
  </body>
</html>
