<html>
  <head>
  </head>
  <body>
    <h1>Dummy 100%</h1>
    <form method="get" action="/game">
      <input type="submit" id="PA" value="PA"/>
      <h1>Dummy 95%</h1>
    </form>
    <h1>Dummy 0%</h1>
    <h1>Finish</h1>
  </body>
</html>
