<html>
  <head>
  </head>
  <body>
    <div style="width:100%;height:50px">
      <div style="width:50%;float:left" >
        Player 1
        <select name="characters">
          <option value="" selected disabled>Please select an option...</option>
          <option value="Sub Zero">Sub Zero</option>
          <option value="Scorpion">Scorpion</option>
          <option value="Raiden">Raiden</option>
          <option value="Kung Lao">Kung Lao</option>
          <option value="Jhonny Cage">Jhonny Cage</option>
        </select>
      </div>
      <div style="width:50%;float:right">
        Player 2
        <select name="characters">
          <option value="" selected disabled>Please select an option...</option>
          <option value="Sub Zero">Sub Zero</option>
          <option value="Scorpion">Scorpion</option>
          <option value="Raiden">Raiden</option>
          <option value="Kung Lao">Kung Lao</option>
          <option value="Jhonny Cage">Jhonny Cage</option>
        </select>
      </div>
    </div>






  </body>
</html>
